.movies{
    background-color: black;
}
.singleMovieCard{
    height: 500px;
    margin: 25px;
    top: 0;
    left: 18%;
}
.wrapper{
    background-color: black;
}
.genre{
    margin: 25px;
    background-color: black;
}
.title{
    position: relative;
    top: 70vh;
    font-size: 35px;
    font-family: 'Mansalva', cursive;
    color: #FFEBD2;
}
.movieContainersList{
    position: relative;
    top: 70vh;
    /* background-color: black; */

}
a{
    cursor: pointer;
    padding-right: 5px;
}
