.trending{
    height: 400px;
    margin: 25px;
}
.title{
    font-size: 35px;
    font-family: 'Mansalva', cursive;
    color: #273248;
}
.movieContainersList{
    display: flex;
}
a{
    cursor: pointer;
    padding-right: 5px;
}
.container img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.romance{
    height: 400px;
    margin: 25px;
}
.action{
    height: 400px;
    margin: 25px;
}
.animation{
    height: 400px;
    margin: 25px;
}